@import url('https://fonts.googleapis.com/css?family=Fresca')
@import url("https://use.typekit.net/daq0vst.css")

$text-color: #1e1e1e

$font: 'calling-code', monospace
$font-size: 1.5rem
//media queries sizes

$medium: 40em