$text-color: #1e1e1e
$text-color-light: #4f4f4f
$blue: #73D2DE
//$purple: #6D435A
$purple: #5B2543
//$primary: #ff5252
$red: #D81159
$yellow: #ECCE6C
$secondary: #218380
$primary: $blue

$font: 'calling-code', monospace
$font-title: 'PT Mono', monospace
$font-size: 1.5rem
$font-size-small: 1rem
//media queries sizes
$tablet-width: 768px
$desktop-width: 1024px

$medium: 40em

h1, h2, h3
  font-family: $font-title


a
  color: $secondary

  &:visited
    color: $secondary

@mixin for-phone-only
  @media (max-width: 599px)
    @content

@mixin for-tablet-portrait-up
  @media (min-width: 600px)
    @content

@mixin for-tablet-landscape-up
  @media (min-width: 900px)
    @content

@mixin for-desktop-up
  @media (min-width: 1200px)
    @content

@mixin for-big-desktop-up
  @media (min-width: 1800px)
    @content
