@import url('https://fonts.googleapis.com/css?family=Fresca')
@import url("https://use.typekit.net/daq0vst.css")
@import "../styles/defaults"
body, html
  width: 100%
  height: 100%

*,
*::after,
*::before
  box-sizing: border-box

.line
  width: 100%
  background: red
  height: 2em
  position: absolute
  top: 65%

.face
  height: 10em
  margin: 0 auto
  border-radius: 50%
  border: #1e1e1e solid 13px

body
  font-family: $font
  //background: #f9f9f9
  background: #ffd44a
  position: relative
  font-size: $font-size

  @include for-phone-only
    font-size: $font-size-small

main
  width: 100%
  height: 100%
  position: relative

//display: grid
//grid-template-columns: 100%
//grid-template-rows: 100%
//align-items: center

