@import "../styles/defaults"
.container
  width: 100%
  text-align: center
  display: flex
  flex-direction: column
  height: 100vh
  background: #f9f9f9
  color: $text-color
  justify-content: center
  flex-wrap: nowrap

.face
  height: 10em
  margin: 0 auto
  border-radius: 50%
  border: #1e1e1e solid 13px

.down
  margin-top: 30%

body
  font-family: $font


