@import "../styles/defaults"

.face
  height: 10em
  margin: 0 auto
  border-radius: 50%
  border: #1e1e1e solid 13px

body
  font-family: $font
  background: #f9f9f9
  position: relative

main
  height: 100vh

.section_container
  position: absolute
  width: 100%
