@import "../styles/defaults"
@import "../styles/reset"
.item
  float: left
  border: 3px $text-color solid
  display: inline-block

.item img
  width: 100%

.itemTitle
  margin: 0 auto
  padding: 3em
  text-align: center
  font-family: $font

.container
  float: left
  overflow: hidden


