@import "../styles/defaults"
.content
  width: 100%
  text-align: center
  display: flex
  flex-direction: column
  height: 100vh
  color: $text-color
  justify-content: space-evenly
  overflow: hidden

.down
  margin-top: 30%
